/*Main Section*/
.container {
    background-color: #eef0f2;
    padding: 20px;
    margin: 20px auto;
}

.overview-section,
.rooms-section,
.room-status-section,
.occupancy-section,
.feedback-section {
    background-color: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.overview-section h1 {
    font-size: 20px;
    color: #333;
}
.overview-section .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.stats div {
    text-align: center;
}
.stats div span {
    margin-top: 5px;
    display: block;
    font-size: 1.5rem;
    color: #007bff;
}
.rooms-section {
    display: flex;
    justify-content: space-between;
}
.room-box {
    border: 2px solid #d1d5db;
    padding: 20px;
    width: 22%;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.room-box h2 {
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 5px;
}

.room-box .price {
    padding-top: 10px;
}

.room-box .price span {
    color: #007bff;
    font-size: 24px;
    margin-top: 10px;
    font-weight: bold;
}
.room-box p {
    font-size: 14px;
    color: #555;
}
.room-status-section {
    display: flex;
    justify-content: space-between;
}
.status-box {
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    width: 60%;
}

.status-content {
    display: flex;
    justify-content: space-between;
}

.status-column {
    flex-direction: column;
    gap: 10px;
}

.status-column p {
    gap: 20px;
    margin: 0;
    font-size: 14px;
    color: #333;
}

.floor-status {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f5f7fa;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.floor-status .progress-circle {
    background: conic-gradient(#007bff 80%, #f5f7fa 20%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.progress-circle span {
    font-size: 20px;
    font-weight: bold;
    color: #007bff;
}
.occupancy-section {
    display: flex;
    justify-content: space-between;
}
.occupancy-box {
    background-color: #f5f7fa;
    width: 65%;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.feedback-section {
    width: 30%;
    padding: 20px;
    background-color: #f5f7fa;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.feedback-box {
    margin-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}
.feedback-box p {
    margin: 0;
    font-size: 14px;
}
.feedback-box span {
    font-size: 12px;
    color: #777;
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .floor-status {
        background-color: #333;
    }
    .progress-circle {
        background: conic-gradient(#007bff 80%, #333 20%);
    }
    .progress-circle span {
        color: #007bff;
    }
    .occupancy-box,
    .feedback-section {
        background-color: #1e1e1e;
    }
    .feedback-box span {
        color: #bbb;
    }
}
