.container {
    width: 90%;
    padding: 2rem;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #4a4a4a;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

.table thead th {
    background-color: #4a90e2;
    color: white;
    padding: 12px 15px;
    text-align: left;
    font-size: 17px;
    font-weight: bold;
    border-bottom: 2px solid #ddd;
}

.table tbody tr {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tbody td {
    padding: 12px 15px;
    font-size: 15px;
    color: #333;
}

.action_label {
    color: #4a90e2;
    font-weight: bold;
}
.action_label2 {
    color: #f19d43;
    font-weight: bold;
}
.tab-select select {
    padding: 8px 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 15px;
    color: #333;
    cursor: pointer;
}

.tab-select select:focus {
    outline: none;
    border-color: #4a90e2;
}

.table-responsive {
    overflow-x: auto;
}

.table-responsive::-webkit-scrollbar {
    width: 10px;
}

.table-responsive::-webkit-scrollbar-thumb {
    background-color: #4a90e2;
    border-radius: 10px;
}


.btn-container {
    display: flex; /* Sử dụng Flexbox để sắp xếp các nút theo hàng ngang */
    justify-content: space-between; /* Tạo khoảng cách giữa các nút */
}

.btn {
    flex: 1; /* Tất cả các nút sẽ có chiều rộng bằng nhau */
    padding: 5px 2px; /* Giảm padding để nút nhỏ lại */
    border: none;
    border-radius: 3px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.2s;
    margin-right: 5px; /* Khoảng cách giữa các nút */
}

.btn:last-child {
    margin-right: 0; /* Không thêm margin cho nút cuối cùng */
}

.btn-edit, .btn-delete {
    text-align: center;
    padding: 0.3rem;
    font-weight: bold;
}

.btn-edit {
    background-color: #007bff;
}

.btn-edit:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

.btn-delete {
    background-color: #dc3545;
}

.btn-delete:hover {
    background-color: #c82333;
    transform: translateY(-2px);
}

.status {
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.available-status {
    background-color: #4CAF50;
}

.ongoing-status {
    background-color: #4a90e2;
}
