
/* .container {
    width: 50%;
    padding: 2rem;
    margin: 20px auto;
    border-radius: 10px;
    background-color: #f8f8f8;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */


form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}


form input[type="text"],
form input[type="date"],
form input[type="number"],
form input[type="password"],
form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}


form input::placeholder {
    color: #aaa;
}


form input[type="radio"],
form input[type="checkbox"] {
    margin-right: 10px;
}


form select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: white;
    font-size: 16px;
    color: #333;
}

.error {
    color: #e74c3c;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 15px;
}

button[name="booking_hotel"] {
    background-color: #4CAF50; /* Màu nền xanh lá cây */
    color: white; /* Màu chữ trắng */
    padding: 12px 24px; /* Khoảng đệm trong nút */
    font-size: 16px; /* Kích thước chữ */
    border: none; /* Bỏ viền */
    border-radius: 5px; /* Bo tròn các góc */
    cursor: pointer; /* Con trỏ chuột đổi thành hình bàn tay khi di chuột qua */
    transition: background-color 0.3s ease; /* Hiệu ứng chuyển màu */
}

button[name="booking_hotel"]:hover {
    background-color: #45a049; /* Màu nền khi hover */
}

button[name="booking_hotel"]:active {
    background-color: #3e8e41; /* Màu nền khi nhấn */
}



.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-bottom: 20px;
}

.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #5b57fb;
}

input:checked + .slider:before {
    transform: translateX(26px);
}


form input[type="radio"] {
    margin-right: 10px;
}

form input[type="radio"]:checked {
    background-color: #5b57fb;
    border-color: #5b57fb;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

input.error-input {
    border: 2px solid #e74c3c;
}

.flashes {
    list-style-type: none;
    padding: 0;
}

.flashes li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.flashes li.error {
    background-color: #f8d7da;
    color: #721c24;
}

.flashes li.success {
    background-color: #d4edda;
    color: #155724;
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }
}

/* Calendar */

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
:root {
  --primary-color: #f90a39;
  --text-color: #1d1d1d;
  --bg-color: #f1f1fb;
}
.calendar_container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.calendar {
  width: 100%;
  max-width: 600px;
  padding: 30px 20px;
  border-radius: 10px;
  background-color: var(--bg-color);
}
.calendar .calendar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #ccc;
}
.calendar .calendar_header .calendar_month {
  display: flex;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  color: var(--text-color);
}
.calendar .calendar_header .calendar_btns {
  display: flex;
  gap: 10px;
}
.calendar .calendar_header .calendar_btns .btn {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  color: #fff;
  background-color: var(--primary-color);
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}
.calendar .calendar_header .calendar_btns .btn:hover {
  background-color: #db0933;
  transform: scale(1.05);
}
.calendar_weekdays {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.calendar_weekdays .day {
  width: calc(100% / 7 - 10px);
  text-align: center;
  font-size: 16px;
  font-weight: 600;
}
.calendar_days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.calendar_days .day {
  width: calc(100% / 7 - 10px);
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  background-color: #fff;
  transition: all 0.3s;
}
.calendar_days .day:not(.next):not(.prev):hover {
  color: #fff;
  background-color: var(--primary-color);
  transform: scale(1.05);
}
.calendar_days .day.today {
  color: #fff;
  background-color: var(--primary-color);
}
.calendar_days .day.next,
.calendar_days .day.prev {
  color: #ccc;
}


.modal {
    display: none; /* Mặc định ẩn modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content h1 {
    text-align: center;
    color: #5b57fb;
    margin: 15px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

