/*Main Section*/
.container {
    background-color: #eef0f2;
    padding: 20px;
    margin: 20px auto;
}

.section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Overview section */
.overview-section h1 {
    font-size: 20px;
    color: #333;
}

.overview-section .stats {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.stats div {
    text-align: center;
}

.stats div span {
    margin-top: 5px;
    display: block;
    font-size: 1.5rem;
    color: #007bff;
}

/* Recently booking section */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: "Arial", sans-serif;
    margin: 1.5rem 0;
    font-size: 16px;
    text-align: left;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table thead tr {
    background-color: #009879;
    color: #ffffff;
    font-weight: bold;
}

.table th,
.table td {
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
}

.table tbody tr {
    border-bottom: 1px solid #dddddd;
}

/*Set the background color of even cells*/
.table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

/*Set the background color of odd cells*/
.table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.table tbody tr:hover {
    background-color: #f1f1f1;
}

.table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.pagination {
    margin-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.pagination a {
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #009879;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #007a63;
}

.pagination span {
    padding: 10px 15px;
    margin: 0 5px;
    color: #009879;
}

/* Dark mode styles */

.dark-mode .container {
    background-color: grey;
}

.dark-mode .section {
    background-color: #121212;
    color: #fff;
}

.dark-mode .overview-section {
    border: 1px solid #fff;
    box-shadow: 0 1px 3px #ffffff;
}

.dark-mode .overview-section h1 {
    color: white;
    font-weight: bold;
}

.dark-mode .table td {
    color: #121212;
}
