{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block title %} Booking {% endblock %}

{% block content %}
    <div class="container">
        <h1>Booking</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <form method="post" action="/booking">
            <label for="customer-name">Customer name</label>
            <input type="text" id="customer-name" name="customer-name" class="error-input" aria-label="Customer-name"
                   placeholder="Enter customer name">

            <label for="room">Room</label>
            <input type="text" id="room" name="room" placeholder="Enter room">

            <label for="check-in-date">Checkin date</label>
            <input type="date" id="check-in-date" name="check-in-date" placeholder="Select expect checkin date">

            <label for="check-out-date">Checkout date</label>
            <input type="date" id="check-out-date" name="check-out-date">

            <label for="total-people">Total people</label>
            <input type="number" id="total-people" name="total-people" placeholder="Enter total of people">

            <button type="reset" class="button cancel">Reset</button>
            <button type="submit" class="button next">Submit</button>
        </form>
    </div>
{% endblock %}
