{% extends "layout.html" %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form_style.css') }}">
{% endblock %}

{% block title %} Create Room {% endblock %}

{% block content %}
<div class="container">
    <h1>Create Room</h1>
    <form action="{{ url_for('create_room') }}" method="POST" class="room-form">
        <div class="form-group">
            <label for="name">Room Name:</label>
            <input type="text" id="name" name="name" required>
        </div>
        <div class="form-group">
            <label for="type">Type:</label>
            <select id="type" name="type" required>
                <option value="standard">Standard</option>
                <option value="vip">VIP</option>
            </select>
        </div>
        <div class="form-group">
            <label for="price_per_night">Price/Night:</label>
            <input type="number" id="price_per_night" name="price_per_night" required>
        </div>
        <div class="form-group">
            <label for="service">Service:</label>
            <input type="text" id="service" name="service">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" name="description" rows="4"></textarea>
        </div>
        <div class="form-group">
            <label for="capacity">Capacity:</label>
            <input type="number" id="capacity" name="capacity" required>
        </div>
        <div class="form-group">
            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="available">Available</option>
                <option value="closed">Closed</option>
                <option value="ongoing">Ongoing</option>

            </select>
        </div>
        <button type="submit" class="btn btn-submit">Create Room</button>
    </form>
</div>
{% endblock %}
