{% extends "layout.html" %} {% block title %} Home {% endblock %} {% block stylesheets %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css')}}" />
{% endblock %} {% block content %}
<div class="container">
    <!-- Overview Section -->
    <div class="overview-section">
        <h1>Overview</h1>
        <div class="stats">
            <div>
                <p>Today's Check-in</p>
                <span>23</span>
            </div>
            <div>
                <p>Today's Check-out</p>
                <span>13</span>
            </div>
            <div>
                <p>Total In Hotel</p>
                <span>60</span>
            </div>
            <div>
                <p>Total Available Room</p>
                <span>10</span>
            </div>
            <div>
                <p>Total Occupied Room</p>
                <span>90</span>
            </div>
        </div>
    </div>

    <div class="section recent-booking-section">
        <h2>Recently booking</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Customer Name</th>
                    <th>Status</th>
                    <th>Book Day</th>
                    <th>Expected Check-in</th>
                    <th>Expected Check-out</th>
                    <th>Actual Check-in</th>
                    <th>Checkout</th>
                    <th>Total People</th>
                </tr>
            </thead>
            <tbody>
                {% for booking in bookings %}
                <tr>
                    <td>{{ booking.id }}</td>
                    <td>{{ booking.customer_name }}</td>
                    <td>{{ booking.status }}</td>
                    <td>{{ booking.book_day }}</td>
                    <td>{{ booking.expected_checkin }}</td>
                    <td>{{ booking.expected_checkout }}</td>
                    <td>{{ booking.actual_checkin }}</td>
                    <td>{{ booking.checkout }}</td>
                    <td>{{ booking.total_people }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if page > 1 %}
            <a href="{{ url_for('index', page=page-1) }}">Previous</a>
            {% endif %}
            <span>Page {{ page }}</span>
            {% if page < total_pages %}
            <a href="{{ url_for('index', page=page+1) }}">Next</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
